<header>
    <div class="container-fluid">
        <div class="row col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-7 col-md-7">

            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="topnav" id="myTopnav">
                    <a routerLinkActive="active" class="home-link" (click)="onHome()">Home</a>
                    <a routerLinkActive="active" [routerLink]="[]" class="about-link" (click)="onAbout()">About</a>
                    <!-- <a routerLinkActive="active" [routerLink]="[]" class="download-link"
                        (click)="onDownload()">Download</a>
                    <a routerLinkActive="active" [routerLink]="[]" class="contact-link" (click)="onContact()">Contact
                        us</a> -->
                    <a [routerLink]="[]" routerLinkActive="active" class="signup-link" (click)="onSignup()">Signup
                    </a>
                    <a [routerLink]="[]" routerLinkActive="active" class="login-link" (click)="onLogin()">Login
                    </a>
                  
                    <a href="javascript:void(0);" class="icon float-right" (click)="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

