<div class="top">
    <div class="logo">
        <img src="assets\Images\esradark.png" width="200" height="50">
        <h3>FINDING BEAUTY MADE EASY</h3>
    </div>
    <div class="container">
        <img src="assets\Images\esrawebbg.svg" width="100%" height="600" class="responsive" id="logo1">
        <img src="assets\Images\mobilescreen_1.svg" width="38%" height="400" id="logo2">
        <div class="content">
            <h4>FIND SALONS AND ARTISTS NEARBY</h4>
            <p>SPEND LESS TIME TRY TO FIND THE SERVICE YOU WANT,SAVE TIME TRAVELLING TO FAR</p>
            <h4>FIND GREAT DEALS</h4>
            <p>KEEP AN EYE OUT FOR AMAZING LAST MINUTE DEALS NEAR YOU.</p>
            <div class="row">
                <!-- <button mat-raised-button color="dark" class="btn1 button-style float-none"
                    style="margin-top: 30px;"><img src="assets\Images\g_b.jpg" width="30"
                        style="margin-right: 10px;"><span style="font-size: 10px;">Download On the</span><span>App Store</span>
                </button>
                <button mat-raised-button color="dark" class="btn1 button-style float-none"
                    style="margin-top: 30px;"><img src="assets\Images\g_b.jpg" width="30"
                        style="margin-right: 10px;"><span>GET IT ON</span>Google Play</button> -->
                <a href="https://www.apple.com/in/app-store/" target="_blank"><img src="assets\Images\app store.png" width="150" height="45"></a>
                <a href="https://play.google.com/store/apps" target="_blank"><img src="assets\Images\download.png" width="150" height="45"></a>
                <!-- <img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="180" height="65" /> -->
            </div>
        </div>
    </div>


</div>